.checkbox {
  display: flex;
  align-items: center;
  margin: 1rem;
  margin-left: 0;
}

.checkbox_label {
  margin: 0 1.5rem 0 0.5rem;
  user-select: none;
  opacity: 0.5;
}

.checkbox_label.checked {
  opacity: 1;
}

.checked_icon {
  user-select: none;
  width: 20px;
}